@CHARSET "UTF-8";

html, body{
	height:100%;
}

#my_form {
	position: absolute;
	top: 100px;
	left: 200px;
	z-index: 10001;
	display: none;
	background-color: white;
	border: 2px outset gray;
	padding: 20px;
	font-family: Tahoma;
	font-size: 10pt;
}

tbody td {
	width: 350px;
}

input[type='button'] {
	width: 90px;
}