<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n" />
		</layout>
	</appender>
	
	<!-- main resources -->
	<!-- 출처: http://jace.tistory.com/111 [Jace's Blog] -->
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
<!-- 		<param name="File" value="${webapp.root}/WEB-INF/logs/cal.log" /> -->
		<param name="File" value="${catalina.home}/logs/cal.log" />
		<param name="Append" value="true" />
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="debug"/>
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
		    <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n" />
		</layout>
	</appender>
	
	<appender name="file_test" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.home}/logs/cal2.log" />
		<param name="Append" value="true" />
		<layout class="org.apache.log4j.PatternLayout">
		    <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="global.sesoc.calendar">
		<level value="debug" />
	</logger>
	
	<logger name="global.sesoc.test">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<category name="global.sesoc.test" additivity="false">
		<priority value="debug" />
		<appender-ref ref="console" />
		<appender-ref ref="file_test"/>
	</category>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
		<appender-ref ref="file" />
		<appender-ref ref="file_test" />
	</root>
	
</log4j:configuration>
